streamlit
pandas
numpy
Pillow
PyMuPDF
pdfplumber
camelot-py[cv]
pytesseract
pdf2image
requests
scikit-learn
tqdm

langchain
langchain-community
langchain-core
langchain-ollama
faiss-cpu

python-magic-bin
